@using Travelingyu.Helper
@{
    Layout = "_LayoutAdmin";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <br />
                <h3 style="padding-left:200px;padding-top:25px">Selamat Datang Admin @User.GetUsername() ganteng</h3>
    </div>
</div>