@model IEnumerable<User>
@{
    Layout = "_LayoutAdmin";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row"><br /> 
        <h3 style="padding-left:350px;padding-top:25px">Belum Ada Notifikasi</h3>
    </div>
</div>