@using Travelingyu.Helper
@model IEnumerable<Pesawat>

<h3 style="color:white">Cek harga Tiket Pesawat anda!</h3>
<br />
<form method="post">
    <div class="row g-4">
        <div class="form-select col-lg-4 col-sm-12">
            <div class="label-flex">
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/9/90850a422444ef949eca39e92bd9368e.svg" width="24" height="24">
                <label for="meal_preference" style="color:white;">Dari</label>
            </div>
            <div class="select-list">
                <select name="meal_preference" id="dari" class="form-control">
                    @foreach (var item in Model)
                    {
                        <option value="@item.Dari">@item.Dari</option>
                    }
                </select>
            </div><br />
        </div>

        <div class="form-select col-lg-4 col-sm-12">
            <div class="label-flex">
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/6/65e2019ad45add446ab998c095d62833.svg" width="24" height="24">
                <label for="meal_preference" style="color:white;">Ke</label>
            </div>
            <div class="select-list">
                <select name="meal_preference" id="ke" class="form-control">
                    @foreach (var item in Model)
                    {
                        <option value="@item.Ke">@item.Ke</option>
                    }
                </select>
            </div><br />
            <div class="select-list">
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/4/46b8f1c7394fa43aef00959a74f54ec4.svg" width="24" height="24">
                <label for="meal_preference" style="color:white;">Maskapai</label>
                <select name="meal_preference" id="maskapai" class="form-control">
                    <option value="Vegetarian">Citiling</option>
                    <option value="Vegetarian">Garuda Indonesia</option>
                    <option value="Vegetarian">Air Asia</option>
                    <option value="Vegetarian">Lion Air</option>
                    <option value="Vegetarian">Batik Air</option>
                </select>
            </div><br />
            <h5 id="hasil" style="color:white;"></h5><br />
        </div>

        <div class="form-select col-lg-4 col-sm-12">
            <div class="label-flex">
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/a/accfeba7f43edb20e4858113abf756d2.svg" width="24" height="24">
                <label for="meal_preference" style="color:white;">Jumlah Penumpang</label>
            </div>
            <input type="number" placeholder="Lebih Dari 7 Tahun" class="form-control" id="jumlah" /><br /><br /><br />

            
            <button class="float-lg-right" id="but" type="button">Cek Harga</button>
        </div>
    </div>
</form>

<script>
    document.getElementById("but");
    addEventListener("click", tampilkan_harga);

    function tampilkan_harga() {
        var dari = document.getElementById("dari").value;
        var ke = document.getElementById("ke").value;
        var jumlah = document.getElementById("jumlah").value;
        var hasil = 0;

        if (dari == "Soekarno Hatta") {

            if (ke == "Sultan Mahmud Badarudin 2") {
                hasil = "Harga : Rp." + 405000 * jumlah;
            } else if (ke == "Syamsudin Noor") {
                hasil = "Harga : Rp." + 843000 * jumlah;
            } else if (ke == "Kualanamu") {
                hasil = "Harga : Rp." + 678000 * jumlah;
            } else if (ke == "Husein Sastranegara") {
                hasil = "Harga : Rp." + 1100000 * jumlah;
            } else if (ke == "Sultan Syarif Kasim II") {
                hasil = "Harga : Rp." + 620000 * jumlah;
            } else if (ke == "Ngurah Rai") {
                hasil = "Harga : Rp." + 550000 * jumlah;
            } else if (ke == "Juanda") {
                hasil = "Harga : Rp." + 635000 * jumlah;
            } else if (ke == "Sultan Hasanudin") {
                hasil = "Harga : Rp." + 770000 * jumlah;
            } else if (ke == "Sultan Aji Muhammad sulaiman") {
                hasil = "Harga : Rp." + 919000 * jumlah;
            } else if (ke == "Adisutjipto") {
                hasil = "Harga : Rp." + 446000 * jumlah;
            }

        } else if (dari == "Husein Sastranegara Hatta") {
            if (ke == "Soekarno Hatta") {
                hasil = "Harga : Rp." + 1200000 * jumlah;
            } else if (ke == "Syamsudin Noor") {
                hasil = "Harga : Rp." + 843000 * jumlah;
            } else if (ke == "Kualanamu") {
                hasil = "Harga : Rp." + 908000 * jumlah;
            } else if (ke == "Husein Sastranegara") {
                hasil = "Harga : Rp." + 1100000 * jumlah;
            } else if (ke == "Sultan Syarif Kasim II") {
                hasil = "Harga : Rp." + 670000 * jumlah;
            } else if (ke == "Ngurah Rai") {
                hasil = "Harga : Rp." + 570000 * jumlah;
            } else if (ke == "Juanda") {
                hasil = "Harga : Rp." + 735000 * jumlah;
            } else if (ke == "Sultan Hasanudin") {
                hasil = "Harga : Rp." + 870000 * jumlah;
            } else if (ke == "Sultan Aji Muhammad sulaiman") {
                hasil = "Harga : Rp." + 909000 * jumlah;
            } else if (ke == "Adisutjipto") {
                hasil = "Harga : Rp." + 405000 * jumlah;
            }
        } else {
            document.getElementById("hasil").innerHTML = "Tidak Terdeteksi";
        }
        document.getElementById("hasil").innerHTML = hasil;
    }
</script>