@model IEnumerable<Pesawat>

<h3 style="color:white">Cek harga Tiket Pesawat anda!</h3>
<br />
<form method="post">
    <div class="row g-4">
        <div class="form-select col-lg-4 col-sm-12">
            <div class="label-flex">
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/9/90850a422444ef949eca39e92bd9368e.svg" width="24" height="24">
                <label for="meal_preference" style="color:white;">Dari</label>
            </div>
            <div class="select-list">
                <select name="meal_preference" id="meal_preference" class="form-control">
                    @foreach (var item in Model)
                    {
                        <option value="Vegetarian">@item.Dari</option>
                    }
                </select>
            </div><br />
            <div class="label-flex">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcSystemCalendar"><path d="M7 2V5M17 2V5M3 8H21M11.5 11.5H12.5V12.5H11.5V11.5ZM11.5 16.5H12.5V17.5H11.5V16.5ZM16.5 11.5H17.5V12.5H16.5V11.5ZM6.5 16.5H7.5V17.5H6.5V16.5ZM5 21H19C20.1046 21 21 20.1046 21 19V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V19C3 20.1046 3.89543 21 5 21Z" stroke="#687176" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 11.5V12.5H6.5V11.5H7.5Z" stroke="#0194F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                <label for="meal_preference" style="color:white;">Tanggal Pergi</label>
            </div>
            <input class="form-control" type="date" />
        </div>

        <div class="form-select col-lg-4 col-sm-12">
            <div class="label-flex">
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/6/65e2019ad45add446ab998c095d62833.svg" width="24" height="24">
                <label for="meal_preference" style="color:white;">Ke</label>
            </div>
            <div class="select-list">
                <select name="meal_preference" id="meal_preference" class="form-control">
                    @foreach (var item in Model)
                    {
                        <option value="Vegetarian">@item.Ke</option>
                    }
                </select>
            </div><br />
            <div class="select-list">
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/4/46b8f1c7394fa43aef00959a74f54ec4.svg" width="24" height="24">
                <label for="meal_preference" style="color:white;">Maskapai</label>
                <select name="meal_preference" id="meal_preference" class="form-control">
                    <option value="Vegetarian">Citiling</option>
                    <option value="Vegetarian">Garuda Indonesia</option>
                    <option value="Vegetarian">Air Asia</option>
                    <option value="Vegetarian">Lion Air</option>
                    <option value="Vegetarian">Batik Air</option>
                </select>
            </div>
        </div>

        <div class="form-select col-lg-4 col-sm-12">
            <div class="label-flex">
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/a/accfeba7f43edb20e4858113abf756d2.svg" width="24" height="24">
                <label for="meal_preference" style="color:white;">Jumlah Penumpang</label>
            </div>
            <input type="number" placeholder="Lebih Dari 7 Tahun" class="form-control" /><br />

            <div class="label-flex">
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/c/c6fbc7de62382bf792c44d7ff99c32ce.svg" width="24" height="24">
                <label for="meal_preference" style="color:white;">Kelas Penerbangan</label>
            </div>
            <div class="select-list">
                <select name="meal_preference" id="meal_preference" class="form-control">
                    <option value="Vegetarian">Bisnis</option>
                    <option value="Vegetarian">Ekonomi</option>
                    <option value="Vegetarian">Eksekutif</option>
                </select>
            </div><br /><br />
            <button class="float-lg-right">Cek Harga</button>
        </div><br />
    </div>
</form>