@model IEnumerable<TransaksiBus>
@{
    Layout = "_LayoutAkun";
}

<h4 class="text-center">Isi Pesanan</h4>
<hr />
<br />


<div class="row">
    <div class="col-md-12">
        <form asp-action="Pesan" method="post">

            @*<div class="form-group">
                    <label asp-for="IdPelanggan.NamaPelanggan" class="control-label"></label>
                    <input asp-for="IdPelanggan.NamaPelanggan" placeholder="Masukan nama pelanggan" class="form-control" />
                    <span asp-validation-for="IdPelanggan.NamaPelanggan" class="text-danger"></span>
                </div>*@
            <table class="table">
                <thead class=" text-primary">
                <th>
                    Kode Bus
                </th>
                <th>
                    Nama Supir
                </th>
                <th>
                    Dari
                </th>
                <th>
                    Ke
                </th>
                <th>
                    Harga
                </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Bus.NamaSup)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Bus.Dari)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Bus.Ke)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Bus.Harga)
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="form-group">

            </div>

            <div class="form-group">
                <label class="control-label">Tanggal berangkat</label>
                <input class="form-control" type="date" id="date" />
            </div>

            <div class="form-group">
                <label class="control-label">Harga</label>


                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Pesan" class="btn btn-primary" />
                <input asp-controller="Home" asp-action="Index" type="submit" value="Kembali" class="btn btn-primary float-xl-right" />
            </div>
        </form>
    </div>
</div>